
//IFMA Color Palette
$IFMA-Red: #EE3521;		//Pantone 1795
$IFMA-Blue: #007BB5;		//Pantone 641
$IFMA-Green: #82C341;		//Pantone 376
$IFMA-Grey: #99867D;		//Pantone Warm Gray 6

$IFMA-Yellow: #FFCD00;		//Pantone 116
$IFMA-Orange: #F7A700;		//Pantone 130
$IFMA-Purple: #585094;		//Pantone 7670
$IFMA-DarkBlue: #35647D;	//Pantone 7699
$IFMA-DarkGreen: #368F3F;	//Pantone 7740

//IFMA Typography
$primary-typeface: Klavica,sans-serif;
$secondary-typeface: Helvetica,trebuchet,arial,sans-serif;
