@import 'bits';
@import 'normalize';
@import 'components';
@import 'micro_nav';
@import 'header';
@import 'footer';
@import 'navigation';
@import 'utility';
@import 'search';
@import 'sort';

@import url("./css/bootstrap.min.css");
@import url("./css/bootstrap-theme.min.css");

/*template-part-search styling */
/* Course title for the list of courses */
.course-list {
	border: #bbb solid thin;
	box-shadow: 2px 3px 8px #ddd;
	padding: 10px 20px;
	margin-bottom: 20px;
	width: 100%;
	margin-right: auto;
	margin-right: auto;
	float: none;
}

.course-title {
	margin: 0.5em 0 0.4em;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.course-details p {
	display: inline-block;
	padding-right: 10px;
}

/* rules for the single-course page */
.course-info {
	padding: 1em;
	border-radius: 0.5em;
	border: 1px #ddd solid;
}

.sidebar {
	float:right;
	margin-bottom:1em;
}

.course-credential {
	margin-top: 1em;
}

.course-credential img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
