@import 'bits';
@import 'normalize';
@import 'components';
@import 'micro_nav';
@import 'header';
@import 'footer';
@import 'navigation';
@import 'utility';
@import 'search';
@import 'sort';

@import url("./css/bootstrap.min.css");
@import url("./css/bootstrap-theme.min.css");

//template-part-search styling
// Course title for the list of courses
.course-list {
  border: #bbb solid thin;
  box-shadow: 2px 3px 8px #ddd;
  float: none;
  margin-bottom: 20px;
  margin-right: auto;
  padding: 10px 20px;
  width: 100%;
}

.course-title {
  margin-bottom: .3em;
}

.course-provider {

  font-size: 30px*.9;
  margin-bottom: 0;
  margin-top: .1em;
  padding-bottom: .3em;
}

.course-details {
  border-top: 1px solid #eee;

  p {
    display: inline-block;
    margin-top: .9em;
    padding-right: 10px;
  }
}

.course-content {
  margin-bottom: 1.5em;
}

//rules for the single-course page
.course-info {
  border: 1px #ddd solid;
  border-radius: .5em;
  padding: 1em;
}

.sidebar {
  float: right;
  margin-bottom: 1em;
}

.course-credential {
  margin-top: 1em;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
}
